# Server
PORT=5050
NODE_ENV=development
BASE_URL=

# Database
DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SCHEMA=public
DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<db>?schema=public

# Hot Realod docker
CHOKIDAR_USEPOLLING=true
CHOKIDAR_INTERVAL=100